#google-map {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: white;
}

.table-info {
    display: none;
    position: absolute;
    text-align: center;
    line-height: 0px;
    margin: 0 5%;
    width: 90%;
    bottom: 0px;
    left: 0px;
    padding: 0 10px 0 10px;
    background-color: transparent;
}

#table-wrap {
    min-height: 150px;
}

#table-data {
    display: inline-block;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 20px 0px 20px;
    width: 80%;
    background-color: gray;
    @include transparent(255, 255, 255, 80);
}

.label {
    font-size: 14px;
    font-weight: normal;
    background-color: #b3b3b3;
}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 2px solid #337ab7;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 5px;
    margin-top: -5px;
}

.arrow_box:before {
    border-color: rgba(51, 122, 183, 0);
    border-right-color: #337ab7;
    border-width: 8px;
    margin-top: -8px;
}

.image-info {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glyphicon-picture:before {
    font-size: 20px;
}

.main-title {
    position: absolute;
    float: left;
}

#table-data > .title {
    position: absolute;
}

@media (max-width: 768px) {

    .table-info {
        margin: 0 2%;
        width: 96%;
    }

    #table-data {
        width: 96%;
    }

    #table-data > .title {
        position: relative;
    }

}
